.navbar-nav>li>a{
	color:white;
	font-weight:600;
	font-size:14px;	
}
.navbar-nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background-color:rgb(253, 130, 41);
}
.navbar-static-top{
	background-color:orange;
}

.product-wrapper{
	height:300px;
	width:200px;
	margin-bottom:15px;
}
.product-wrapper>.product-image{
	position:relative;
	height:200px;
}
.product-wrapper>.product-image>img{
	width:100%;
	height:100%;
}
.product-wrapper>.product-price,.price-info{
	color: #E4393C;
	font-weight: 400;
	font-family: Verdana;
	margin-right: 10px;
	font-size: 18px;
	line-height: 36px;
}
.price-info{
	line-height:18px;
	text-align: center;
}
.price-info-sm{
	font-size: 14px;
	text-align: left;
}
ul.product-list{
	list-style:none;
}
ul.product-list>li{
	float:left;
	margin-right:12px;
	margin-bottom:5px;
}
nav.nav-pagination{
	text-align:center;
}

.dropdown-cart{
	width:300px;
}

.modal-checkout-content{
	padding:20px;
}
.modal-order-details-content{
	padding:20px;
}